<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mymusic.music">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Live"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".View.Activity.Detail.CommentDetailActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".View.LaunchAcvtivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activity.Login.LoginActivity" />
        <activity android:name=".View.Activity.Login.LoginPhoneActivity" />
        <activity android:name=".View.Activity.Login.RegisterActivity" />
        <activity android:name=".View.Activity.Login.ForgetPwdActivity" />
        <activity android:name=".View.Activity.user.UserActivity" />
        <activity
            android:name=".View.Activity.Detail.DetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Activity.MyChildActivity.My.MywalletActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyLiveActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MysettingActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MylevelActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyhomeActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyfocusActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyfansActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MypubliskActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MycollectionActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MytaskActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyexchangeActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MymessageActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MycommentActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MylikeActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyhistoryActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyfeedbackActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyaboutActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyshareActivity" />
        <activity android:name=".View.Activity.MyChildActivity.SettingActivity.BacklistActivity" />
        <activity android:name=".View.Activity.MyChildActivity.SettingActivity.AccountActivity" />
        <activity
            android:name=".View.Activity.MyChildActivity.SettingActivity.LockScreenActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".View.Activity.MyChildActivity.LiveActivity.LivelevelActivity" />
        <activity android:name=".View.Activity.MyChildActivity.LiveActivity.LiveHostAuthenticationActivity" />
        <activity android:name=".View.Activity.MyChildActivity.LiveActivity.LiveGiftActivity" />
        <activity android:name=".View.Activity.Detail.UserDetailActivity" />
        <activity android:name=".View.Activity.Community.CommunityAdviceActivity" />
        <activity android:name=".View.Activity.Community.CommunityReportActivity" />
        <activity android:name=".View.Activity.FoundActivity" />
        <activity android:name=".View.Activity.Detail.FriendDetailActivity" />
        <activity android:name=".View.Activity.PostArtActivity.PostArtActivity" />
        <activity android:name=".View.Activity.FriendFoundActivity" />
        <activity android:name=".View.Activity.Detail.FriendDetailTwoActivity" />
        <activity android:name=".View.Activity.post.putContentActivity" />
        <activity android:name=".View.Activity.user.ListUserActivity" />
        <activity android:name=".View.Activity.Login.SetPasswordActivity" />
        <activity android:name=".View.Activity.post.SignActivity" />
        <activity android:name=".View.Activity.MoneyDetailActivity" />
        <activity android:name=".View.Activity.WebActivity" />
        <activity android:name=".View.Activity.post.PutVideoActivity" />
        <activity android:name=".View.Activity.JubaoActivity" />
        <activity android:name=".View.Activity.JubaoVideoActiviy" />
        <activity android:name=".View.Activity.WalletFeedback" />
        <activity android:name=".View.Activity.message.SettingActivity" />
        <activity android:name=".View.Activity.message.AuditActivity" />
        <activity android:name=".View.Activity.message.ViolationActivity" />
        <activity android:name=".View.Activity.message.FeedbackActivity" />
        <activity android:name=".View.Activity.message.CommendActivity" />
        <activity android:name=".View.Activity.message.NoticeActivity" />
        <activity android:name=".View.Activity.Detail.VideoPlayActivity"></activity>
    </application>

</manifest>