<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mymusic.music">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Live"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".View.Activity.ShareActivity"></activity>
        <activity android:name=".ActivityAdv" />
        <activity android:name=".View.Activity.Detail.CommentDetailActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".View.LaunchAcvtivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activity.Login.LoginActivity" />
        <activity android:name=".View.Activity.Login.LoginPhoneActivity" />
        <activity android:name=".View.Activity.Login.RegisterActivity" />
        <activity android:name=".View.Activity.Login.ForgetPwdActivity" />
        <activity android:name=".View.Activity.user.UserActivity" />
        <activity
            android:name=".View.Activity.Detail.DetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Activity.MyChildActivity.My.MywalletActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyLiveActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MysettingActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MylevelActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyhomeActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyfocusActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyfansActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MypubliskActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MycollectionActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MytaskActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyexchangeActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MymessageActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MycommentActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MylikeActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyhistoryActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyfeedbackActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyaboutActivity" />
        <activity android:name=".View.Activity.MyChildActivity.My.MyshareActivity" />
        <activity android:name=".View.Activity.MyChildActivity.SettingActivity.BacklistActivity" />
        <activity android:name=".View.Activity.MyChildActivity.SettingActivity.AccountActivity" />
        <activity
            android:name=".View.Activity.MyChildActivity.SettingActivity.LockScreenActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".View.Activity.MyChildActivity.LiveActivity.LivelevelActivity" />
        <activity android:name=".View.Activity.MyChildActivity.LiveActivity.LiveHostAuthenticationActivity" />
        <activity android:name=".View.Activity.MyChildActivity.LiveActivity.LiveGiftActivity" />
        <activity android:name=".View.Activity.Detail.UserDetailActivity" />
        <activity android:name=".View.Activity.Community.CommunityAdviceActivity" />
        <activity android:name=".View.Activity.Community.CommunityReportActivity" />
        <activity android:name=".View.Activity.FoundActivity" />
        <activity android:name=".View.Activity.Detail.FriendDetailActivity" />
        <activity android:name=".View.Activity.PostArtActivity.PostArtActivity" />
        <activity android:name=".View.Activity.FriendFoundActivity" />
        <activity android:name=".View.Activity.Detail.FriendDetailTwoActivity" />
        <activity
            android:name=".View.Activity.post.putContentActivity"
            android:exported="true" />
        <activity android:name=".View.Activity.user.ListUserActivity" />
        <activity android:name=".View.Activity.Login.SetPasswordActivity" />
        <activity android:name=".View.Activity.post.SignActivity" />
        <activity android:name=".View.Activity.MoneyDetailActivity" />
        <activity android:name=".View.Activity.WebActivity" />
        <activity
            android:name=".View.Activity.post.PutVideoActivity"
            android:exported="true" />
        <activity
            android:name=".View.Activity.JubaoActivity"
            android:exported="true" />
        <activity
            android:name=".View.Activity.JubaoVideoActiviy"
            android:exported="true" />
        <activity android:name=".View.Activity.WalletFeedback" />
        <activity android:name=".View.Activity.message.SettingActivity" />
        <activity android:name=".View.Activity.message.AuditActivity" />
        <activity android:name=".View.Activity.message.ViolationActivity" />
        <activity
            android:name=".View.Activity.message.FeedbackActivity"
            android:exported="true" />
        <activity android:name=".View.Activity.message.CommendActivity" />
        <activity android:name=".View.Activity.message.NoticeActivity" />
        <activity android:name=".View.Activity.Detail.VideoPlayActivity" />
        <activity android:name=".View.Activity.FriendListActivity" />
        <activity android:name=".View.Activity.user.IntegalActivity" />
        <activity android:name=".View.Activity.user.ExpActivity" />
        <activity android:name=".View.Activity.HistoryFeedBackActivity" />
        <activity android:name=".View.Activity.Detail.HistoryFeedDetail" />
        <activity android:name=".View.Activity.OrderFindAvtivity" />
        <activity android:name=".View.Activity.message.NoticeDetailActivity" />
        <activity android:name=".View.Activity.ChangePhoneActivity" />
        <activity android:name=".View.Activity.BindPhoneActivity" />
        <activity android:name=".View.Activity.Backlist2Activity" />
        <activity android:name=".View.Activity.Detail.VideoSingleActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".View.Activity.FindActivity" />
        <activity android:name=".View.Activity.FindDetailActivity" />
        <activity android:name=".View.Activity.MorePindaoActivity" />
        <activity android:name=".View.Activity.VideoPindaoActivity" />


        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service android:name=".View.Jpush.BoradReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".View.Jpush.MyReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.mymusic.music" />
            </intent-filter>
        </receiver>
    </application>

</manifest>